html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
}

header { 
  background:#81234b;
  grid-column: col-start / col-end; 
  grid-row: line-h-1 / line-h-2; 
}

header nav {
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02em;

  display: flex; /* parent is set to flex */
  justify-content: space-between;
  align-items: center;
}

header nav p {
  margin-left: 5%;
}

header nav ul {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  list-style: none;
  display: right;
  margin-right: 10%;
}

footer { 
  background:#81234b;
  grid-column: col-start / col-end; 
  grid-row: line-h-7 / line-h-8; 
}

footer nav {
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02em;

  display: flex; /* parent is set to flex */
  justify-content: space-between;
  align-items: center;
}

footer nav p {
  margin-left: 5%;
}

footer nav ul {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  list-style: none;
  display: right;
  margin-right: 10%;
}

.grid-nav {
  grid-row-start: line-h-2;
  grid-column-start: col-start / col-s-1;
  text-align: center;
  grid-column: 1;
  font-size: 30px;
}

.grid-logo {
  grid-row-start: line-h-2;
  text-align: center;
  grid-column: 2 / 5;
  font-size: 30px;
}

.grid-search1 {
  grid-row-start: line-h-2;
  grid-column: 5;
  text-align: center;
  font-size: 30px;
} 

.grid-search2 {
  grid-row-start: line-h-2;
  grid-column: 6 / 11;
  text-align: center;
  font-size: 30px;
} 

.grid-bag {
  grid-row-start: line-h-2;
  grid-column: 11 / col-end;
  text-align: center;
  font-size: 30px;
}

.grid-button1 {
  grid-row-start: line-h-3;
  grid-column: 2;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

.grid-button2 {
  grid-row-start: line-h-3;
  grid-column: 4;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

.grid-button3 {
  grid-row-start: line-h-3;
  grid-column: 6;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

.grid-button4 {
  grid-row-start: line-h-3;
  grid-column: 8;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

.grid-button5 {
  grid-row-start: line-h-4;
  grid-column: 11;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-label1 {
  grid-row-start: line-h-4;
  grid-column: 2;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.article1 {
  grid-row-start: line-h-5;
  grid-column: 2;
  text-align: center;
  font-weight: bold;
  width: 180%;
}

.article2 {
  grid-row-start: line-h-5;
  grid-column: 5;
  text-align: center;
  font-weight: bold;
  width: 180%;
}

.article3 {
  grid-row-start: line-h-5;
  grid-column: 8;
  text-align: center;
  font-weight: bold;
  width: 180%;
}

.article4 {
  grid-row-start: line-h-5;
  grid-column: 11;
  text-align: center;
  font-weight: bold;
  width: 180%;
}

.description1 {
  grid-row-start: line-h-6;
  grid-column: 2;
  text-align: center;
  font-weight: bold;
  width: 180%;
  padding-top: 0%;
}

.description2 {
  grid-row-start: line-h-6;
  grid-column: 5;
  text-align: center;
  font-weight: bold;
  width: 180%;
  padding-top: 0%;
}

.description3 {
  grid-row-start: line-h-6;
  grid-column: 8;
  text-align: center;
  font-weight: bold;
  width: 180%;
  padding-top: 0%;
}

.description4 {
  grid-row-start: line-h-6;
  grid-column: 11;
  text-align: center;
  font-weight: bold;
  width: 180%;
  padding-top: 0%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button { 
  background-color: white;
  color: black; 
  border: solid 1px; 
  cursor: pointer; 
  width: 140%;
  height: 20%;
  font-weight: bold;
}

p {
  color: white;
}

.help-box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  z-index: 9999;
}

.special-offer {
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}


/* Here starts the slideshow*/ 
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Here ends the Slideshow */

nav a {
	transition: color 0.2s ease-in-out;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:hover {
	color: #DAA520;
  text-decoration: none;
}

.container {
  /* Definition of the parent 12 columns grid */
    height:100vh;  /* 100% of the viewport */
    display: grid;
    grid-template-rows: [line-h-1] 35px [line-h-2] 10% [line-h-3] 1fr [line-h-4] 1fr [line-h-5]  1fr [line-h-6] 1fr [line-h-7] 35px [line-h-8]; 
    grid-template-columns: [col-start] 35px [col-s-1] repeat(11, 1fr) [col-end];
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 