html,body {
    margin:0;
    padding:0;
    }

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #81234b;
    text-align: right;
    width: 100%;
    height: 15px;
  }
  
  footer p {
    margin: 0;
  }
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 8.3vh;
    }
    .col {
        flex-basis: 8.33vw;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
