html,body {
    margin:0;
    padding:0;
    }

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #81234b;
    text-align: right;
    width: 100%;
    height: 15px;
      }
  
footer p {
    margin: 0;
}

.container {
  /* Definition of the parent 12 columns grid */
    height:100vh;  /* 100% of the viewport */
    display: grid;
    grid-template-rows: [line-h-1] 150px [line-h-2] 1fr 1fr 1fr 1fr 1fr [line-h-4] 100px [line-h-5]; 
    grid-template-columns: [col-start] repeat(12, 1fr) [col-end];
    }
    
.row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 8.3vh;
      }
    
.col {
        flex-basis: 8.33vw;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid black;
      }
